<%= render "shared/header"%>
<div class="bg-black text-white h-screen flex items-center justify-center">
  <div class="w-full max-w-md p-8 bg-gray-800 rounded-lg shadow-lg">
    <h2 class="text-center text-2xl font-semibold mb-6">Contact Me!</h2>

    <%= form_with model: @contact, local: true do |f| %>
      <div class="flex space-x-4 mb-4">
        <div class="w-1/2">
          <%= f.label :first_name, "first name", class: "block mb-1" %>
          <%= f.text_field :first_name, placeholder: "first name", class: "w-full px-3 py-2 bg-gray-700 text-black rounded" %>
        </div>
        <div class="w-1/2">
          <%= f.label :last_name, "last name", class: "block mb-1" %>
          <%= f.text_field :last_name, placeholder: "last name", class: "w-full px-3 py-2 bg-gray-700 text-black rounded" %>
        </div>
      </div>

      <div class="mb-4">
        <%= f.label :email, "Email", class: "block mb-1" %>
        <%= f.email_field :email, placeholder: "Email", class: "w-full px-3 py-2 bg-gray-700 text-black rounded" %>
      </div>

      <div class="mb-4">
        <%= f.label :message, "Message", class: "block mb-1" %>
        <%= f.text_area :message, placeholder: "Text", class: "w-full px-3 py-2 bg-gray-700 text-black rounded h-32" %>
      </div>

      <div class="text-center">
        <%= f.submit "Send", class: "px-6 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-600" %>
      </div>
    <% end %>
    <%= render "shared/footer"%>
  </div>
</div>
