<!-- app/views/home/index.html.erb -->
<div class="bg-black h-screen flex flex-col justify-between">
  <%= render "shared/header"%>

  <!-- DMissionを上下左右の中央に配置 -->
  <div class="flex justify-center items-center">
    <h1 class="font-bold text-white" style="font-size: 12rem;">DMission</h1>
  </div>

  <!-- 左下に配置する要素 -->
  <div class="flex justify-start items-end w-full p-8">
    <div class="text-white text-left">
      <p class="text-4xl mb-4">Complete Your Tasks.</p>
      <p class="text-4xl mb-4">Conquer Your Day.</p>
      <div class="flex space-x-4">
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete, class: 'bg-white text-black px-4 py-2 rounded' do %>
            <button>Log Out</button>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: 'bg-white text-black px-4 py-2 rounded' do %>
            <button>Sign In</button>
          <% end %>

          <%= link_to new_user_registration_path, class: 'bg-white text-black px-4 py-2 rounded' do %>
            <button>Sign Up</button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- 最下部中央に配置するリンク -->
  <%= render "shared/footer" %>
</div>
